.idea*
**/.DS_Store

.gradle

*/out
*/build

out/*
build/*

*.iml
*.ipr
*.iws

**/.gradletasknamecache

stdout.txt
stderr.txt

deploy/config.yaml
deploy/openregister-java.jar
deployable_bundle

.venv
.cache
