csvvalidator==1.2
jsonschema==2.5.1
-e git+https://github.com/openregister/conformance-test.git@b04c3ae5a97385d5b22b706b2f055c1f74a57e39#egg=openregister_conformance-master
py==1.7.0
pytest==3.10.0
PyYAML==3.11
requests==2.20.0
Werkzeug==0.11.5
rdflib==4.2.1
