// Download-specific styles
// ==========================================================================

@mixin border {
  background-color: $pale-grey;
  border: 1px solid $dark-grey;
}

@mixin font-code {
	@include core-16;
	font-family: monospace;
}

.url-param {
  @include font-code;
  @include border;
}

.url-list {
	@include border;
	@include font-code;
	padding: 1em;

	list-style: none;
}
