.notice {
  background-color: $grey-4;
  border-bottom: 1px solid $border-colour;

  .header__container {
    margin-bottom: 0;
    padding: 0;
  }

  p {
    @include core-16;

    margin: 0;
    padding: ($gutter / 2) 0 ($gutter / 3) 0;
  }
}
