// libSass doesn’t implement image-url that govuk_template uses so polyfill that

$image-url-path: '/assets/' !default;
@function image-url($url) {
  @return url("#{$image-url-path}#{$url}");
}

// Needed for elements-typography
@function em($px, $base: 19) {
  @return ($px / $base) + em;
}

$is-print: false !default;
@mixin screen {
  @if not $is-print {
    @content;
  }
}

@mixin print {
  @if $is-print {
    @content;
  }
}

// Variables
$pale-grey: #f5f5f5;
$dark-grey: #bfc1c3;
$register: #2b8cc4;
$light-gray: #f9f9f9;

// Import from govuk_frontend_toolkit
@import "colours";
@import "css3";
@import "grid_layout";
@import "measurements";
@import "shims";
@import "typography";
@import "design-patterns/alpha-beta";
@import "design-patterns/buttons";
@import "design-patterns/breadcrumbs";

// Import from govuk_template
@import "styleguide/colours";
@import "basic";
@import "accessibility";
@import "footer";

// Taken from govuk_elements
@import "elements-typography";
@import "lists";
@import "breadcrumbs";
@import "prism";
@import "panels";

// Register styles
@import "organisations";
@import "page-navigation";
@import "download";
@import "govuk-logo";
@import "header";
@import "phase-banner";

body {
  @include media(tablet) {
    line-height: 1.31579;
  }
}

.openregister-org {
  font-family: $Helvetica-Regular;

  .header {
    background-color: $register;
    border-bottom: 0;
    margin-bottom: 0;

    &__container {
      border-bottom: 0;
      margin-bottom: 0;
    }

    &__title,
    &__navigation {
      font-family: $Helvetica-Regular;
    }
  }

  .govuk-logo {
    background: none;
  }

  .govuk-logo__printable-crown {
    display: none;
  }

  .phase-banner {
    font-family: $Helvetica-Regular;
    padding: 2px 5px;
    position: relative;
    top: -1px;
  }
}

#wrapper {
  @extend %site-width-container;
  padding-bottom: $gutter*3;
}

.panel.phase {
  margin-top: 40px;

  .phase-banner {
    color: $white;
  }
}

.button {
  @include button;

  .openregister-org & {
    padding: 0.526315em 0.789473em;
  }
}

.govuk-related-items {
  margin-top: 50px;

  li {
    margin-bottom: $gutter-one-third;
    list-style-type: none;
  }

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  .organisation {
    margin-top: 0;
  }
}

.organisation {
  margin-top: 50px;
}

#footer .footer-meta .footer-meta-inner {
  .custom-government-licence {
    @extend .open-government-licence;

    @include media(tablet) {
      padding-left: 0;
    }
  }
}

.registry-copyright {
  white-space: pre; // fallback for IE 6-7
  white-space: pre-line;
}

.field-column {
  width: 33%;
}
.value-column {
  width: 67%;
}

// Grids

.grid-row {
  @extend %grid-row;

  .column-third {
    @include grid-column( 1/3 );
  }

  .column-two-thirds {
    @include grid-column( 2/3 );
  }
}

// Comma-separated lists
.field-list {
  ul {
    font-family: monospace;
    letter-spacing: -1em;
    list-style: none;
    padding-left: 0;
    margin-top: 0;

    li {
      display: inline-block;
      letter-spacing: normal;
      font-size: 14px;
      overflow: hidden;

      // Remove white space before comma which is added below
      a {
        float: left;
        line-height: 1.5;
      }

      &:after {
        content: ",\a0";
      }

      &:last-child:after {
        content: "";
      }
    }
  }
}

// Tables
.table-wrapper {
  margin-top: $gutter;
  margin-bottom: $gutter;
  overflow-x: scroll;
}

table {
  @include core-14;
  border-collapse: collapse;
  border: 1px solid $border-colour;
  width: 100%;

  td, th {
    vertical-align: top;
    text-align: left;
    font-family: $toolkit-font-stack-tabular;

    .openregister-org & {
      font-family: monospace;
    }

    padding: $gutter-one-third;
  }

  th {
    background-color: $pale-grey;
  }

  tr:nth-child(2n) {
    background-color: $light-gray;
  }

  &.entry {
    tr {
      background-color: $pale-grey;
    }
    th, td {
      border-bottom: 1px solid $border-colour;
    }
  }
}

// Defintion lists
dl {
  overflow: hidden;

  dt {
    clear: left;
    float: left;
    font-weight: bold;
    padding-bottom: 1em;
    width: 35%;
  }

  dd {
    float: left;
    margin: 0;
    padding-bottom: 1em;
    width: 65%;
  }
}

.preview-box {
  border: 1px solid $grey-2;
}

pre {
  margin: 0;
}

.open-government-licence {
  .logo {
    background: image-url("images/open-government-licence.png") 0 0 no-repeat;

    @include device-pixel-ratio() {
	    background-image: image-url("images/open-government-licence_2x.png");
	    background-size: 41px 17px;
	  }
  }
}
