/* libSass doesn’t implement image-url that govuk_template uses so polyfill that */

$image-url-path: '/assets/' !default;
@function image-url($url) {
  @return url("#{$image-url-path}#{$url}");
}

/* Import from govuk_frontend_toolkit */

@import "colours";
@import "conditionals";
@import "css3";
@import "device-pixels";
@import "font_stack";
@import "measurements";
@import "shims";
@import "typography";
@import "design-patterns/alpha-beta";
@import "design-patterns/buttons";

/* Import from govuk_template */

@import "styleguide/colours";
@import "styleguide/conditionals2";

@import "basic";
@import "accessibility";
@import "header";
@import "footer";


/* Register styles */

$register: #2372b5;

#global-header {
  background-color: $register;
  .header-wrapper {
    background-color: $register;
  }
}

main {
  @extend %site-width-container;
}

.phase-banner {
  @include phase-banner($state: alpha);
  margin-bottom: $gutter;
}

.primary-metadata {
  dt {
    @include core-16;
    padding: ($gutter/6 + $gutter-half) 0 $gutter/6 0;
    &:first-child {
      padding-top: $gutter/6;
    }
  }
  dd {
    margin: 5px 0 0 0;
    @include bold-24;
    // some bits of metadata are included inside of other tags which have a 
    // default style of font-weight: normal
    p, strong {
      font-weight: bold;
    }
    .show-other-content {
      @include bold-24;
    }
  }
}
