/* libSass doesn’t implement image-url that govuk_template uses so polyfill that */

$image-url-path: '/assets/' !default;
@function image-url($url) {
  @return url("#{$image-url-path}#{$url}");
}

/* Import from govuk_frontend_toolkit */

@import "colours";
@import "conditionals";
@import "css3";
@import "device-pixels";
@import "font_stack";
@import "grid_layout";
@import "measurements";
@import "shims";
@import "typography";
@import "design-patterns/alpha-beta";
@import "design-patterns/buttons";

/* Import from govuk_template */

@import "styleguide/colours";
@import "styleguide/conditionals2";

@import "basic";
@import "accessibility";
@import "header";
@import "footer";


/* Register styles */

$pale-grey: #f5f5f5;
$dark-grey: #BFC1C3;

@import "details";
@import "fingerprint";

$register: #2372b5;
$NTA-Light: $Helvetica-Regular;

body {
  font-family: $Helvetica-Regular;
}

#global-header {
  background-color: $register;
  .header-wrapper {
    background-color: $register;
    .header-global .header-logo {
      width: auto;
      float: none;
    }
  }
}

main {
  @extend %site-width-container;
}

.phase-banner {
  @include phase-banner($state: alpha);
  margin-bottom: $gutter;
}

.homepage-intro {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.primary-metadata {
  dt {
    @include core-16;
    padding: ($gutter/6 + $gutter-half) 0 $gutter/6 0;
    &:first-child {
      padding-top: $gutter/6;
    }
  }
  dd {
    margin: 5px 0 0 0;
    @include bold-24;
    // some bits of metadata are included inside of other tags which have a
    // default style of font-weight: normal
    p, strong {
      font-weight: bold;
    }
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    .show-other-content {
      @include bold-24;
    }
  }
}

.side-nav {
  font-weight: 700;
  list-style-type: none;
  line-height: 30px;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

#footer .footer-meta .footer-meta-inner {
  .custom-government-licence {
    @extend .open-government-licence;

    @include media(tablet) {
      padding-left: 0px;
    }
  }
}

.registry-copyright {
  white-space: pre; /* fallback for IE 6-7 */
  white-space: pre-line;
}

//grids

.grid-row {
  @extend %grid-row;

  .column-third {
    @include grid-column( 1/3 );
  }
  .column-two-thirds {
    @include grid-column( 2/3 );
  }
}
.hero-image {
  @extend %outdent-to-full-width;
}

.technical-information {
    margin-top: 35px;
    margin-bottom: 15px;
    padding: 25px;
    background-color: $pale-grey;
    border: 1px solid $dark-grey;
}

.field-list ul {
  padding-left: 0;
  margin-top: 0;
}

.field-list li {
  font-family: monospace;
  font-size: 16px;
  display: inline-block;
}

.field-list li:after {
  content: ",\a0";
}

.field-list li:last-child:after {
  content: "";
}

.field-list-in-table li {
  font-size: 14px;
  padding-right: 0px;
}

// tables

$table-header: #f5f5f5;
$table-row: #f9f9f9;

table {
  @include core-14;
  border-collapse: collapse;
  border: 1px solid $border-colour;
  width: 100%;

  td, th {
    vertical-align: top;
    text-align: left;
    font-family: monospace;
    padding: $gutter-one-third;
  }

  th {
    background-color: $table-header;
  }

  tr:nth-child(2n) {
    background-color: $table-row;
  }

  &.entry {
    tr {
      background-color: $table-header;
    }
    th, td {
      border-bottom: 1px solid $border-colour;
    }
  }
}

