<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <div th:fragment="download-and-preview-home">
    <p class="data-representations">
      <span data-click-events="" data-click-category="Content" data-click-action="Register Download">
        <th:block th:if="${totalRecords} le 5000">Download a copy of this register as</th:block>
        <th:block th:if="${totalRecords} gt 5000">Download the first 5,000 records as</th:block>
        <a href="/records.csv?page-size=5000" rel="alternate" class="js-download" download="">CSV</a>,
        <a href="/records.tsv?page-size=5000" rel="alternate" class="js-download" download="">TSV</a> or as a
        <a href="/records.xlsx?page-size=5000" rel="alternate" class="js-download" download="">spreadsheet</a>.
      </span>
      <th:block th:if="${totalRecords} le 100">You can also preview as</th:block>
      <th:block th:if="${totalRecords} gt 100">You can also preview a sample as</th:block>
      <a href="/preview-records/json">JSON</a>,
      <a href="/preview-records/yaml">YAML</a> or
      <a href="/preview-records/ttl">TTL</a>.
    </p>
  </div>
</html>
