<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <div th:fragment="download-and-preview-single(records_or_entries_or_items_string)">
    <p class="data-representations">
      Download a copy as
      <a th:href="${@uk.gov.register.util.HtmlViewSupport@representationLink(#httpServletRequest, 'csv')}">CSV</a>,
      <a th:href="${@uk.gov.register.util.HtmlViewSupport@representationLink(#httpServletRequest, 'tsv')}">TSV</a> or as a
      <a th:href="${@uk.gov.register.util.HtmlViewSupport@representationLink(#httpServletRequest, 'xlsx')}">spreadsheet</a>.
      You can also preview as
      <!--<span th:if="${#strings.equals(records_or_entries_or_items_string, 'records')}">-->
      <a th:href="${'/preview-' + records_or_entries_or_items_string + '/json/' + (#strings.equals(records_or_entries_or_items_string, 'records') ? content.entryKey : (#strings.equals(records_or_entries_or_items_string, 'entries') ? content.entryNumber : content.itemHash))}">JSON</a>,
      <a th:href="${'/preview-' + records_or_entries_or_items_string + '/yaml/' + (#strings.equals(records_or_entries_or_items_string, 'records') ? content.entryKey : (#strings.equals(records_or_entries_or_items_string, 'entries') ? content.entryNumber : content.itemHash))}">YAML</a>
      or
      <a th:href="${'/preview-' + records_or_entries_or_items_string + '/ttl/' + (#strings.equals(records_or_entries_or_items_string, 'records') ? content.entryKey : (#strings.equals(records_or_entries_or_items_string, 'entries') ? content.entryNumber : content.itemHash))}">TTL</a>
    </p>
  </div>
</html>
