<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <div th:fragment="download-and-preview(records_or_entries_string)">
    <p class="data-representations">
      <th:block th:if="${pagination.totalEntries} le 5000">Download a copy of this register as</th:block>
      <th:block th:if="${pagination.totalEntries} gt 5000">Download the first 5,000 records as</th:block>
      <a th:href="${'/' + records_or_entries_string + '.csv?page-size=5000'}" rel="alternate" class="js-download"
         data-download-type="CSV">CSV</a>,
      <a th:href="${'/' + records_or_entries_string + '.tsv?page-size=5000'}" rel="alternate" class="js-download"
         data-download-type="TSV">TSV</a> or as a
      <a th:href="${'/' + records_or_entries_string + '.csv?page-size=5000'}" rel="alternate" class="js-download"
         data-download-type="spreadsheet">spreadsheet</a>.
      <th:block th:if="${pagination.totalEntries} le 100">You can also preview as</th:block>
      <th:block th:if="${pagination.totalEntries} gt 100">You can also preview a sample as</th:block>
      <a th:href="${'/preview-' + records_or_entries_string + '/json'}">JSON</a>,
      <a th:href="${'/preview-' + records_or_entries_string + '/yaml'}">YAML</a> or
      <a th:href="${'/preview-' + records_or_entries_string + '/ttl'}">TTL</a>.
    </p>
  </div>
</html>
