<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <div th:fragment="download-and-preview-home">
    <p class="data-representations">
      Every register has the following endpoints available as
      <a href="/records.json">JSON</a>,
      <a href="/records.yaml">YAML</a>,
      <a href="/records.ttl">TTL</a>,
      <span data-click-events="" data-click-category="Content" data-click-action="Register Download">
        <a href="/records.csv?page-size=5000" rel="alternate" class="js-download" download="">CSV</a> and
        <a href="/records.tsv?page-size=5000" rel="alternate" class="js-download" download="">TSV</a>.
      </span>
    </p>
  </div>
</html>
