<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<body>
<div th:fragment="entry-table(content)">
    <table class="entry">
        <colgroup>
            <col class="field-column" />
            <col class="value-column" />
        </colgroup>
        <thead>
            <tr>
                <th scope="col">Field</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="keyValue : ${content}">
                <td>
                    <a th:href="${@uk.gov.register.presentation.HtmlViewSupport@fieldLink(keyValue.key, registerDomain)}"
                       th:text="${keyValue.key}"></a>
                </td>

                <td th:if="${keyValue.value.isLink()}">
                    <a th:href="${keyValue.value.link()}" th:text="${keyValue.value.value}"></a>
                </td>

                <td th:if="${keyValue.value.isList()}" class="field-list field-list-in-table">
                    <ul>
                        <th:block th:each="fieldValue : ${keyValue.value}">
                            <li th:if="${fieldValue.isLink()}">
                                <a th:href="${fieldValue.link()}" th:text="${fieldValue.value}"></a>
                            </li>
                            <li th:unless="${fieldValue.isLink()}" th:text="${fieldValue.value}"></li>
                        </th:block>
                    </ul>
                </td>

                <td th:unless="${keyValue.value.isLink() || keyValue.value.isList()}" th:text="${keyValue.value.value}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
