<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<body>
  <footer th:fragment="footer" id="footer" class="group" role="contentinfo">
    <div class="footer-wrapper">
      <div class="footer-meta">
        <div class="footer-meta-inner">

          <div th:if="${renderedCopyrightText.present}" class="custom-government-licence">
            <div th:replace="fragments/copyright.html::copyright">Copyright text</div>
          </div>
            <div th:unless="${renderedCopyrightText.present}" class="open-government-licence">
              <span class="logo"></span>
              <p>
                All content is available under the
                <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
              </p>
            </div>
        </div>
        <div class="copyright">
          <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">
            &copy; Crown copyright
          </a>
        </div>
      </div>
    </div>

    <script src="/assets/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/assets/govuk_frontend_toolkit/javascripts/govuk/details.polyfill.js"></script>
    <script src="/assets/govuk_frontend_toolkit/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/assets/js/prism.js"></script>
    <script src="/assets/gaap-analytics/build/gaap-analytics.min.js"></script>
    <script src="/assets/js/application.js"></script>
  </footer>
</body>
</html>
