<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<body>
  <th:block th:fragment="global-header">
    <header class='header' role='banner'>
      <div class='header__container'>
        <div class='header__brand' data-click-events="" data-click-category="Header" data-click-action="Logo Clicked">
          <a href="/" th:title="'Go to ' + ${friendlyRegisterName} + ' API home'">
            <span class='govuk-logo'>
              <img src="/assets/images/gov.uk_logotype_crown_invert_trans.png" width="36" height="32" alt="GOV.UK Registers" class="govuk-logo__printable-crown" /> GOV.UK
            </span>
            <span class='header__title'>
              <span th:text="${friendlyRegisterName}">Registers</span>
              API
            </span>
          </a>
        </div>
        <input type="checkbox" name="show-menu" id="show-menu" class="header__navigation-toggle-checkbox" aria-controls="navigation" aria-expanded="false" />
        <label class="header__navigation-toggle" for="show-menu">Menu</label>
        <nav aria-hidden='true' aria-label='Top Level Navigation' class='header__navigation' id='navigation'>
          <ul class="list-bullet" data-click-events="" data-click-category="Header" data-click-action="Navigation Link Clicked">
            <li>
              <a href="https://registers.cloudapps.digital/support">Support</a>
            </li>
            <li>
              <a href="https://registers-docs.cloudapps.digital">Documentation</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </th:block>
</body>
</html>
