<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<body>
<div th:fragment="record-table(view, records)">
  <table th:if="${!records.isEmpty()}"
         th:with="itemFieldNames = ${orderedFieldNames}">
    <thead>
    <tr>
      <th scope="col" th:if="${view.displayEntryKeyColumn()}">key</th>
      <th scope="col" th:each="fieldName : ${itemFieldNames}">
        <a th:href="${linkResolver.resolve(new uk.gov.register.core.RegisterId('field'), fieldName)}"
           th:text="${fieldName}"></a>
      </th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="record : ${records}">
      <tr th:each="item : ${record}" th:with="firstItemColumnLink = ${view.displayEntryKeyColumn()} ? ${null} : ${'../records/' + record.key}">
        <td th:if="${view.displayEntryKeyColumn()}">
          <a th:href="${'./records/' + record.key}" th:text="${record.key}"></a>
        </td>
        <div th:include="fragments/record-table-item-cells.html :: record-table-item-cells (item = ${item}, fieldNames = ${itemFieldNames}, resolveAllLinks = ${view.resolveAllItemLinks()}, firstColumnLink = ${firstItemColumnLink})"></div>
      </tr>
    </th:block>
    </tbody>
  </table>
</div>
</body>
</html>
