---
applications:
- name: discovery-multi
  memory: 4GB
  instances: 2
  buildpack: java_buildpack
  health-check-type: http
  health-check-http-endpoint: /healthcheck
  path: ../../openregister-java.jar
  services:
    - discovery-db
    - logit-ssl-drain
  env:
    JBP_CONFIG_JAVA_MAIN: '{ arguments: "server s3://openregister.discovery.config/multi/openregister/paas-config.yaml" }'
    JBP_CONFIG_OPEN_JDK_JRE: '{ jre: { version: 11.+ } }'
    AWS_ACCESS_KEY_ID: change-me
    AWS_SECRET_ACCESS_KEY: change-me
    AWS_REGION: eu-west-1
  timeout: 180
