<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:include="main.html::head"></head>
<body>
<header th:replace="main.html::header"></header>

<label style="font-family: Helvetica, Arial; font-weight: bold; font-size: 2.50rem;">Oops, looks like something went wrong</label>
<br/>
<br/>
<label style="font-family: Helvetica, Arial; font-size: 5.00rem;">500</label>
<br/>
<br/>

<div th:include="copyright.html::copyright"></div>

<footer th:replace="main.html::footer"></footer>
</body>
</html>
