<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head th:include="main.html::head"></head>
<body>
  <header th:replace="main.html::global-header"></header>

  <div id="wrapper">
    <main id="main" role="main">
      <div th:replace="main.html::phase"></div>
      <h1 class="heading-large">Oops, looks like something went wrong</h1>
      <p class="lede">500 error.</p>
    </main>
  </div>

  <footer th:replace="fragments/footer.html::footer"></footer>
</body>
</html>
