<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<div th:fragment="data-formats">
    <p class="data-representations">This data is available as:
        <a th:href="${@uk.gov.register.util.HtmlViewSupport@representationLink(#httpServletRequest, 'json')}">json</a>,
        <a th:href="${@uk.gov.register.util.HtmlViewSupport@representationLink(#httpServletRequest, 'yaml')}">yaml</a>,
        <a th:href="${@uk.gov.register.util.HtmlViewSupport@representationLink(#httpServletRequest, 'csv')}">csv</a>,
        <a th:href="${@uk.gov.register.util.HtmlViewSupport@representationLink(#httpServletRequest, 'tsv')}">tsv </a> and
        <a th:href="${@uk.gov.register.util.HtmlViewSupport@representationLink(#httpServletRequest, 'ttl')}">ttl</a>
    </p>
</div>
</html>

