<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head th:include="main.html::head"></head>
<body>
<header th:replace="main.html::header"></header>

<div class="grid-row">
    <main id="content" role="main">

        <div th:replace="main.html::phase"></div>
        <header th:replace="fragments/page-header.html(title='Download register data')"></header>
        <article role="article" class="article-container group content-two-thirds">
            <p>Registers are arranged into pages. There are x records per page. You can download up to 5000 pages from a register in bulk as:</p>
            <ul>
                <li><a href="/records.json?page-size=5000" rel="alternate">json</a></li>
                <li><a href="/records.ttl?page-size=5000" rel="alternate">ttl</a></li>
                <li><a href="/records.tsv?page-size=5000" rel="alternate">tsv</a></li>
                <li><a href="/records.csv?page-size=5000" rel="alternate">csv</a></li>
            </ul>
            <p>You can download fewer pages ... as soon as Jen or Tome writes about it</p>
            <p>You can also download the full contents of this register <a href="/download-register">in JSON as a zip file</a>.</p>

            <h2>Updates</h2>
            <p>
                Once you have downloaded your copy of the register you can check for new entries using visiting <a href="/entries">entries page</a>.
                Read the technical guidance alongside the register to find out how to do this.
            </p>
        </article>
    </main>
</div>

<footer th:replace="main.html::footer"></footer>

</body>
</html>
