<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head th:include="main.html::head"></head>
<body>
  <header th:replace="main.html::global-header"></header>

  <div id="wrapper">
    <main id="main" role="main">
      <div th:replace="fragments/phase-banner.html::phase"></div>
      <div class="grid-row">
        <div class="column-two-thirds">
          <h1 class="heading-large">
            <span class="heading-secondary" th:if="${content.recordKey.present}">
              Part of <a th:href="${'/record/' + content.recordKey.get()}" th:text="${'Record: ' + content.recordKey.get()}">Record: GM</a>
            </span>
            <span th:include="fragments/pagination.html::pagination-top('entries')"></span>
          </h1>
        </div>
        <div class="column-third" th:include="main.html :: attribution"></div>
      </div>

      <div class="table-wrapper">
        <table th:if="${#lists.isEmpty(content.entries) == false}">
          <thead>
          <tr>
            <th scope="col">Entry</th>
            <th scope="col">item-hash</th>
            <th scope="col">entry-timestamp</th>
            <th scope="col">key</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="entry : ${content.entries}">
            <td>
                <a th:href="${'/entry/' + entry.entryNumber}" th:text="${entry.entryNumber}"></a>
              </td>
            <td>
              <a th:href="${'/item/' + entry.sha256hex}" th:text="${entry.sha256hex}"></a>
            </td>
            <td th:text="${entry.timestamp}"></td>
            <td th:text="${entry.key}"></td>
          </tr>
          </tbody>
        </table>
      </div>

      <nav th:replace="fragments/pagination.html::pagination-bottom"></nav>

      <div th:include="fragments/data-formats.html::data-formats"></div>
    </main>
  </div>

  <footer th:replace="fragments/footer.html::footer"></footer>

</body>
</html>
