<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:include="main.html::head"></head>
<body>
<header th:replace="main.html::header"></header>
<main id="main" role="main">
    <div th:replace="main.html::phase"></div>
    <h1 th:text="'Entry ' + ${entry.serialNumber}">Entry Name Header</h1>

    <p class="entry-source">
        An entry in the
        <a href="/" th:text="${friendlyRegisterName}"></a>
    </p>

    <div th:include="fragments/entry-table.html :: entry-table (content = ${entry.content})"></div>

    <div th:include="data-formats.html::data-formats"></div>

    <details th:replace="fragments/digital-proof.html :: digital-proof"/>

    <p><a th:href="${versionHistoryLink}">View all versions of this record</a></p>

    <p th:replace="copyright.html::copyright"></p>

</main>
<footer th:replace="main.html::footer"></footer>
</body>
</html>
