<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:include="main.html::head"></head>
<body>
<header th:replace="main.html::header"></header>
<main id="main" role="main">
    <div th:replace="main.html::phase"></div>
    <h1 th:text="${entries.size()} + ' entries'"></h1>
    <table id="entries" th:if="${#lists.isEmpty(entries) == false}">
        <thead>
        <tr>
            <th>Entry</th>
            <th><a th:href="${@uk.gov.register.presentation.HtmlViewSupport@fieldLink(registerId)}" th:text="${registerId}"></a></th>
            <th:block th:each="fieldName : ${register.nonPrimaryFields}">
                <th><a th:href="${@uk.gov.register.presentation.HtmlViewSupport@fieldLink(fieldName)}" th:text="${fieldName}"></a></th>
            </th:block>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${entries}">
            <td><a th:href="${'/entry/' + entry.serialNumber}" th:text="${entry.serialNumber}"></a></td>
            <td><a th:href="${'/' + registerId + '/' + entry.primaryKey()}" th:text="${entry.primaryKey()}"></a></td>
            <th:block th:each="fieldName : ${register.nonPrimaryFields}">
                <td th:if="${entry.getField(fieldName).present}" th:text="${entry.getField(fieldName).get().value()}"></td>
                <td th:unless="${entry.getField(fieldName).present}"></td>
            </th:block>
        </tr>
        </tbody>
    </table>

    <a th:if="${previousPageLink}" th:href="${previousPageLink}">previousPage</a>
    <a th:if="${nextPageLink}" th:href="${nextPageLink}">nextPage</a>

    <div th:include="data-formats.html::data-formats"></div>
</main>

<footer th:replace="main.html::footer"></footer>
</body>
</html>
