<div class="footer-wrapper">
	<div class="row footer">

	    	<div class="large-10 columns">
				<div class="open-government-licence">
	              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
	              <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
				</div>
			</div>

			<div class="large-2 columns">
				<div class="copyright">
		           <img src="/assets/images/govuk_crest_grey.png"/>
		           <p>© Crown copyright</p>
		        </div>
	        </div>

		</div>
	</div>
