<div id="header-wrapper">

    <div class="row">
        <div class="header registry small-12 large-12 columns">
            <nav class="top-bar" data-topbar>
                <h1><a href="/"><--Register name--></a></h1>
            </nav>
        </div>
    </div>
</div>