<head>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/images/icon.png"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/images/icon.png"/>

    <title> Register </title>
</head>
