<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:include="main.html::head"></head>
<body>
<header th:replace="main.html::header"></header>
<main id="main" role="main">
    <div th:replace="main.html::phase"></div>

    <table>
        <thead>
            <tr>
                <th>Entry</th>
                <th>Hash</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="version : ${versions}">
                <td>
                    <a th:href="${'/entry/' + version.serialNumber}" th:text="${version.serialNumber}"></a>
                </td>
                <td>
                    <a th:href="${'/hash/' + version.hash}" th:text="${version.hash}"></a>
                </td>
            </tr>
        </tbody>
    </table>

    <p th:replace="copyright.html::copyright"></p>
</main>
<footer th:replace="main.html::footer"></footer>
</body>
</html>
