<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:include="main.html::head"></head>
<body>
<header th:replace="main.html::header"></header>
<main id="main" role="main">
    <div th:replace="main.html::phase"></div>
    <h1>The register of UK government registers.</h1>

    <div class="registry">
        <p class="registry-label">Provided by:</p>
        Cabinet Office
    </div>

    <dl class="primary-metadata">
        <dt>Total entries:</dt>
        <dd><a href="/current">Total entries</a></dd>
        <dt>Last updated:</dt>
        <dd><a href="/feed">Last updated</a></dd>
        <dt>Fields in this register:</dt>
        <dd>Register Fields</dd>
    </dl>

    <p th:replace="copyright.html::copyright">Copyright text</p>

        <div class="small-12 large-4 columns nav">

            <ul class="side-nav">
                <li><a href="http://www.openregister.org/">About registers</a></li>
                <li><a href="http://www.openregister.org/developer">Developer documentation</a></li>
                <li><a href="/download">Download all entries</a></li>
            </ul>
        </div>

</main>

<footer th:replace="main.html::footer"></footer>

</body>
</html>
