<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:include="main.html::head"></head>
<body>
<header th:replace="main.html::header"></header>
<main id="main" role="main">
    <div th:replace="main.html::phase"></div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="homepage-intro" th:utext="${registerText}">The register of UK government registers.</div>

            <div class="registry">
                <p class="registry-label">Provided by:</p>
                <p class="org-name">
                    <a th:href="${publicBody.recordLink}" th:text="${publicBody.name}">Cabinet Office</a>
                </p>
            </div>

            <dl class="primary-metadata">
                <dt>Total entries:</dt>
                <dd><a href="/current">Total entries</a></dd>
                <dt>Last updated:</dt>
                <dd><a href="/feed">Last updated</a></dd>
            </dl>
        </div>
    </div>
    <div class="grid-row">
    <div class="technical-information">
    <div class="grid-row">
        <div class="column-two-thirds">
        <h2 class="heading-large">Technical information</h2>
            <p>Registers are made up of entries containing fields of data. To build services on top of these registers you can access the data in a variety of formats.</p>
            <dt>Fields in this register:</dt>
            <div class="field-list"> <ul><li th:each="field : ${register.fields}" th:text="${field}"></li></ul> </div>
        </div>
        <div class="column-third">
            <ul class="side-nav">
                <li><a href="http://www.openregister.org/">About registers</a></li>
                <li><a href="http://www.openregister.org/developer">Developer documentation</a></li>
                <li><a href="/download">Download all entries</a></li>
            </ul>
        </div>
    </div>    
    </div>
    </div>

    <p th:replace="copyright.html::copyright">Copyright text</p>

        

</main>

<footer th:replace="main.html::footer"></footer>

</body>
</html>
