<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head th:include="fragments/head.html::head"></head>
  <body th:class="${isGovukBranded ? 'gov-uk' : 'openregister-org'}">
    <header th:replace="fragments/global-header.html::global-header"></header>

    <main id="wrapper" role="main">
      <th:block th:if="${register.phase == 'beta'}">
        <div th:replace="fragments/register-intro.html::register-intro"></div>
      </th:block>
      <th:block th:unless="${register.phase == 'beta'}">
        <div th:replace="fragments/phase-banner.html::phase"></div>
      </th:block>

      <div class="grid-row">
        <div class="column-two-thirds">
          <h2 class="heading-small">Details</h2>
          <ul class="register-metadata">
            <li>
              <span class="left">Name:</span>
              <span class="right" th:utext="${friendlyRegisterId}"></span>
            </li>
            <li>
              <span class="left">Description:</span>
              <span class="right" th:utext="${registerText}"></span>
            </li>
            <li>
              <span class="left">Managed by:</span>
              <span class="right"<th:block th:include="fragments/organisation.html::organisation(${registry}, ${branding})"></th:block></span>
            </li>
            <li>
              <span class="left">Number of records:</span>
              <span class="right" th:text="${totalRecords}"></span>
            </li>
            <li>
              <span class="left">Last updated:</span>
              <span class="right" th:text="${lastUpdatedTime}"></span>
            </li>
            <li>
              <span class="left">Base URL</span>
              <span class="right" th:utext="${registerResolver.baseUriFor(registerId)}"></span>
            </li>
          </ul>
        </div>
      </div>
    </main>

    <footer th:replace="fragments/footer.html::footer"></footer>

  </body>
</html>

