<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:include="main.html::head"></head>
<body>
<header th:replace="main.html::header"></header>
<main id="main" role="main">
    <div th:replace="main.html::phase"></div>
    <div class="grid-row">
        <div class="column-two-thirds">
            Record:
            <h1 class="entry-header" th:text="${entry.primaryKey()}">Entry Name Header</h1>
            <p class="entry-source">A record in the <a href="/"
                                                       th:text="${friendlyRegisterName}"></a>
            </p>
        </div>
        <div class="column-third" th:include="main.html :: attribution"></div>
    </div>

    <p>The latest entry for this record is:</p>

    <div th:include="fragments/entry-table.html :: entry-table (content = ${entry.content})"></div>

    <div th:include="data-formats.html::data-formats"></div>

    <details th:replace="fragments/digital-proof.html :: digital-proof"/>

    <p><a th:href="${versionHistoryLink}">View all versions of this record</a>
    </p>

    <p th:replace="copyright.html::copyright"></p>
</main>
<footer th:replace="main.html::footer"></footer>
</body>
</html>
