<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

  <head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/apple-touch-icon-152x152.png"/>
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/apple-touch-icon-120x120.png"/>
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/images/apple-touch-icon-76x76.png"/>
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="/assets/images/apple-touch-icon-60x60.png"/>

    <title th:text="${friendlyRegisterName}"></title>
    <link rel="stylesheet" href="/assets/css/main.css"/>
  </head>

  <header th:fragment="global-header" id="global-header" role="banner" class=" with-proposition">
    <div class="header-wrapper">
      <div class="header-global">
        <div class="header-logo">
          <a id="logo" class="content" href="https://www.gov.uk">
            GOV.UK
          </a>
        </div>
      </div>

      <div class="header-proposition">
        <div class="content">
          <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
          <nav id="proposition-menu" role="navigation">
            <a id="proposition-name" href="/" th:text="${friendlyRegisterName}"></a>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <div th:fragment="phase" th:class="phase-banner">
    <p>
      <strong class="phase-tag" th:text="${#strings.toUpperCase(register.phase)}">ALPHA</strong>
      <span>
        This is a new register – your
        <a href="mailto:data-infrastructure@digital.cabinet-office.gov.uk">feedback</a>
        will help us to improve it.
      </span>
    </p>
  </div>

  <th:block th:fragment="organisation(organisation, branding)">
    <span th:if="${branding.present}" th:utext="${#strings.replace(branding.get().logoFormattedName,'\r\n','&lt;br/&gt;')}" class="organisation-logo" th:classappend="|organisation-logo-${branding.get().logoClassName} ${branding.get().colourClassName}|">Cabinet Office</span>
    <span th:unless="${branding.present}" th:text="${organisation.name}" class="organisation-logo organisation-logo-no-identity">Cabinet Office</span>
  </th:block>

  <th:block th:fragment="attribution">
    <div class="organisation">
      <h3 class="heading-medium">Managed by:</h3>
      <th:block th:include="main.html::organisation(${registry}, ${branding})"></th:block>
    </div>
  </th:block>

  <footer th:fragment="footer" id="footer" class="group" role="contentinfo">
    <div class="footer-wrapper">
      <div class="footer-meta">
        <div class="footer-meta-inner">

          <div th:if="${renderedCopyrightText.present}" class="custom-government-licence">
            <div th:replace="copyright.html::copyright">Copyright text</div>
          </div>
            <div th:unless="${renderedCopyrightText.present}" class="open-government-licence">
              <p class="logo">
                <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">
                  Open Government Licence
                </a>
              </p>
              <p>
                All content is available under the
                <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
              </p>
            </div>
        </div>
        <div class="copyright">
          <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">
            &copy; Crown copyright
          </a>
        </div>
      </div>
    </div>

    <th:block th:if="${registerTrackingId != null and registerTrackingId.present and !#strings.isEmpty(registerTrackingId.get())}">
      <script id="analytics-tracking-id" src="/analytics-code.js"></script>
      <script id="analytics-main" type="text/javascript" src="/assets/js/analytics.js"></script>
      <script id="analytics-external-links" type="text/javascript" src="/assets/js/analytics-external-links.js"></script>
    </th:block>
  </footer>

</html>
