<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head th:include="fragments/head.html::head"></head>
<body>
  <header th:replace="fragments/global-header.html::global-header"></header>

  <div id="wrapper">
    <main id="main" role="main">
      <div th:replace="fragments/phase-banner.html::phase"></div>
      <a href="/" class="link-back">Back</a>
      <header th:replace="main.html::page-header(title='This page has not been implemented yet')"></header>
      <p>
        We haven’t prioritised this work yet. If you are interested in this feature, please let us know so we can adjust our priorities.
      </p>
    </main>
  </div>

  <footer th:replace="fragments/footer.html::footer"></footer>

</body>
</html>
