<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:include="main.html::head"></head>
<body>
<header th:include="main.html::header" id="global-header"></header>

<div class="row">
    <div class="small-12 large-8 columns">
        <main>
            <h1>This page has not been implemented</h1>

            <p>We haven't prioritised this work yet. If you are interested in this feature, please let us know so we can
                adjust our priorities.</p>
        </main>
    </div>
</div>

<div th:include="main.html::footer-wrapper"></div>

</body>
</html>
