<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <div th:fragment="pagination">
        <ul>
            <li th:if="${pagination.hasPreviousPage()}" class="previous">
                <a th:href="${pagination.previousPageLink}" th:text="Previous">
                </a>
                <span class="page-numbers"
                      th:text="${pagination.previousPageNumber + ' of ' + pagination.totalPages}"></span>
            </li>
            <li th:if="${pagination.hasNextPage()}" class="next">
                <a th:href="${pagination.nextPageLink}" th:text="Next">
                </a>
                <span class="page-numbers" th:text="${pagination.nextPageNumber + ' of ' + pagination.totalPages}"></span>
            </li>
        </ul>
    </div>
</html>
