<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head th:include="fragments/head.html::head"></head>
<body th:class="${isGovukBranded ? 'gov-uk' : 'openregister-org'}">
<header th:replace="fragments/global-header.html::global-header"></header>

<div id="wrapper">
    <main id="main" role="main">
        <div th:replace="fragments/phase-banner.html::phase"></div>

        <div class="breadcrumbs">
            <ol>
                <li>
                    <a href="/" th:utext="${friendlyRegisterName}">Home</a>
                </li>
                <li>
                    <a href="/records">Records</a>
                </li>
                <li th:utext="${'Record ' + content.primaryKey}"></li>
            </ol>
        </div>

        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-large">
                    Record
                    <th:block th:utext="${content.primaryKey}"></th:block>
                </h1>
                <p th:if="${#bools.isTrue(registerId.value() == 'register')}">
                    <a th:href="${registerResolver.baseUriFor(new uk.gov.register.core.RegisterName(content.primaryKey))}"
                       th:utext="${'View ' + content.primaryKey + ' register'}">View this register.</a>
                </p>
                <div th:include="fragments/data-formats.html::data-formats"></div>
                <details role="group">
                    <summary role="button" aria-controls="details-content-0" aria-expanded="false">
                        <span class="summary">What are the table headers?</span>
                    </summary>
                    <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                        <div th:replace="fragments/field-list.html::field-list(${content.fields})"></div>
                    </div>
                </details>
            </div>
            <div class="column-third" th:include="fragments/attribution.html::attribution"></div>
        </div>

        <table th:if="${!content.content.isEmpty()}"
               th:with="fields = ${content.isRegister()}? ${register.nonPrimaryFields} : ${register.fields}">
            <thead>
            <tr>
                <th scope="col" th:unless="${content.isRegister()}">key</th>
                <th scope="col" th:if="${content.isRegister()}">
                    <a th:href="${linkResolver.resolve(new uk.gov.register.core.RegisterName('field'), registerId)}"
                       th:text="${registerId}"></a>
                </th>
                <th scope="col" th:each="fieldName : ${fields}">
                    <a th:href="${linkResolver.resolve(new uk.gov.register.core.RegisterName('field'), fieldName)}"
                       th:text="${fieldName}"></a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${content.content}">
                <td>
                    <a th:href="${'/record/' + content.primaryKey}" th:text="${content.primaryKey}"></a>
                </td>
                <th:block th:each="fieldName : ${fields}">
                    <td th:if="${item.containsKey(fieldName)}" class="field-list field-list-in-table">
                        <ul th:if="${item.get(fieldName).isList()}">
                            <th:block th:each="fieldValue: ${item.get(fieldName)}">
                                <li th:text="${fieldValue.value}"></li>
                            </th:block>
                        </ul>
                        <th:block th:text="${item.get(fieldName).value}">
                        </th:block>
                    </td>
                    <td th:unless="${item.get(fieldName)}"></td>
                </th:block>
            </tr>
            </tbody>
        </table>

        <p>
            <a th:href="${'/record/' + content.primaryKey +'/entries'}">View all versions of this record</a>
        </p>

    </main>
</div>

<footer th:replace="fragments/footer.html::footer"></footer>

</body>
</html>
