<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head th:include="main.html::head"></head>
<body>
<header th:replace="main.html::header"></header>
<main id="main" role="main">
    <div th:replace="main.html::phase"></div>
    <div class="grid-row">
        <div class="column-two-thirds" th:include="pagination.html::pagination-top('records')"></div>
        <div class="column-third" th:include="main.html :: attribution"></div>
    </div>
    <table th:if="${#lists.isEmpty(entries) == false}">
        <thead>
            <tr>
                <th scope="col"><a th:href="${@uk.gov.register.presentation.HtmlViewSupport@fieldLink(registerId, registerDomain)}" th:text="${registerId}"></a></th>
                <th:block th:each="fieldName : ${register.nonPrimaryFields}">
                    <th scope="col"><a th:href="${@uk.gov.register.presentation.HtmlViewSupport@fieldLink(fieldName, registerDomain)}" th:text="${fieldName}"></a></th>
                </th:block>
            </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${entries}">
            <td><a th:href="${'/record/' + entry.primaryKey()}" th:text="${entry.primaryKey()}"></a></td>
            <th:block th:each="fieldName : ${register.nonPrimaryFields}">
                <td th:if="${entry.getField(fieldName).present}" class="field-list field-list-in-table">
                    <ul th:if="${entry.getField(fieldName).get().isList()}">
                        <th:block th:each="fieldValue: ${entry.getField(fieldName).get()}">
                            <li th:text="${fieldValue.value}"></li>
                        </th:block>
                    </ul>
                    <th:block th:unless="${entry.getField(fieldName).get().isList()}" th:text="${entry.getField(fieldName).get().value}">
                    </th:block>
                </td>
                <td th:unless="${entry.getField(fieldName).present}"></td>
            </th:block>
        </tr>
        </tbody>
    </table>

    <nav th:replace="pagination.html::pagination-bottom"></nav>

    <div th:include="data-formats.html::data-formats"></div>
</main>

<footer th:replace="main.html::footer"></footer>
</body>
</html>
