<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head th:include="fragments/head.html::head"></head>
<body>
  <header th:replace="fragments/global-header.html::global-header"></header>

  <div id="wrapper">
    <main id="main" role="main">
      <div th:replace="fragments/phase-banner.html::phase"></div>

      <div class="grid-row">
        <div class="column-two-thirds">
          <h1 class="heading-large">
            Record
            <th:block th:utext="${content.primaryKey}"></th:block>
          </h1>
          <p>
            A record in the <a href="/" th:text="${friendlyRegisterName}"></a>.
            <a th:if="${#bools.isTrue(registerId.value() == 'register')}" th:href="${registerResolver.baseUriFor(new uk.gov.register.core.RegisterName(content.primaryKey))}">View this register.</a>
          </p>
          <div th:include="fragments/data-formats.html::data-formats"></div>
        </div>
        <div class="column-third" th:include="fragments/attribution.html::attribution"></div>
      </div>

      <div th:include="fragments/item-table.html :: item-table (content = ${content.content})" class="table-wrapper"></div>

      <p>
        <a th:href="${'/record/' + content.primaryKey +'/entries'}">View all versions of this record</a>
      </p>

    </main>
  </div>

  <footer th:replace="fragments/footer.html::footer"></footer>

</body>
</html>
